<div
    style="background-color:#00003f;font-family:sans-serif;font-size:14px;line-height:1.4;margin:0;padding:0"
>
  <table
      bgcolor="#00003f"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="border-collapse:separate;min-width:100%;background-color:#00003f;width:100%"
      width="100%"
  >
    <tbody>
      <tr>
        <td
            style="font-family:sans-serif;font-size:14px;vertical-align:top"
            valign="top">&nbsp;
        </td>
        <td
            style="font-family:sans-serif;font-size:14px;vertical-align:top;display:block;max-width:580px;padding:10px;width:580px;Margin:0 auto"
            valign="top"
            width="580"
        >
          <div
              style="padding:20px 0"
          >
            <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                role="presentation"
                style="border-collapse:separate;min-width:100%;width:100%"
                width="100%"
            >
              <tbody>
                <tr>
                  <td
                      align="center"
                      style="font-family:sans-serif;font-size:14px;vertical-align:top;text-align:center"
                      valign="top"
                      width="100%"
                  >
                    <a
                        href="https://jobfair.fer.unizg.hr"
                        style="color:#ec0867;text-decoration:underline"
                        target="_blank"
                    >
                      <img
                          alt="Job Fair"
                          height="50"
                          src="cid:jobfair-logo@jobfair.fer.unizg.hr"
                          style="border:none;max-width:100%"
                      >
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
              style="box-sizing:border-box;display:block;Margin:0 auto;max-width:580px;padding:10px"
          >
            <table
                role="presentation"
                style="border-collapse:separate;min-width:100%;background:#ffffff;border-radius:4px;width:100%"
                width="100%"
            >
              <tbody>
                <tr>
                  <td
                      style="font-family:sans-serif;font-size:14px;vertical-align:top;box-sizing:border-box;padding:20px"
                      valign="top"
                  >
                    <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="border-collapse:separate;min-width:100%;width:100%"
                        width="100%"
                    >
                      <tbody>
                        <tr>
                          <td
                              style="font-family:sans-serif;font-size:14px;vertical-align:top"
                              valign="top"
                          >
                            {{#each content}}
                              <p
                                  style="font-family:sans-serif;font-size:14px;color:#000;font-weight:normal;margin:0;margin-bottom:15px"
                              >{{this}}</p>
                            {{/each}}
                            {{> @partial-block }}
                            <p
                                style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0"
                            >
                              Pozdrav,
                              <br>
                              &nbsp;&nbsp;&nbsp;&nbsp;Tvoj Job Fair tim
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td
            style="font-family:sans-serif;font-size:14px;vertical-align:top"
            valign="top"
        >
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</div>
