<style>
  a, p, span {
    font-family: sans-serif;
    font-size: 14px;
    vertical-align: top;
  }

  img {
    border: none;
  }

  img.yt {
    padding-bottom: 1px;
  }

  td > img {
    vertical-align: middle;
  }

  table {
    width: 100%;
    min-width: 100%;
    border-collapse: separate;
    border: none;
    border-spacing: 0;
  }

  table[role="presentation"] {
    width: 100%;
  }

  .container {
    margin: 0;
    padding: 0;
    background-color: #ebeae8;
  }

  .container > table {
    background-color: #ebeae8;
  }

  .tableContainer {
    display: block;
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    padding: 10px;
    vertical-align: top;
  }

  .tableContainer > div {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
  }

  .container #logo {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  #logo td {
    text-align: center;
    vertical-align: top;
  }

  #logo a {
    display: inline-block;
  }

  .bodyContainer > table {
    line-height: 1.35;
    width: 100%;
    min-width: 100%;
    border-radius: 4px;
    background: #ffffff;
  }

  .contentContainer {
    padding: 20px;
    vertical-align: top;
  }

  #content > p {
    font-weight: normal;
    margin: 0;
    color: #000000;
  }

  #content > p:last-child {
    margin-top: 15px;
  }

  .tableContainer .footerContainer {
    max-width: 95%;
    padding-top: 0;
  }

  .tableContainer .footerContainer, .tableContainer .footerContainer * {
    font-size: 12px;
    font-weight: 400;
  }

  .tableContainer .footerContainer a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
  }

  .tableContainer .footerContainer > * {
    padding-top: 4px;
  }

  .tableContainer .footerContainer > *:first-child {
    padding-top: 0;
  }

  .tableContainer .footerContainer table.imageAndText {
    display: inline-block;
  }

  .tableContainer .footerContainer table.imageAndText td {
    vertical-align: middle;
  }

  .tableContainer .footerContainer table.imageAndText td:first-child {
    width: 18px;
    height: 18px;
    text-align: center;
  }

  .tableContainer .footerContainer table.imageAndText td:first-child svg {
    width: 100%;
    max-height: 100%;
  }

  .tableContainer .footerContainer table.imageAndText td:last-child {
    padding-left: 4px;
  }

  .tableContainer .footerContainer table.social {
    display: inline-block;
    padding-top: 8px;
  }

  .tableContainer .footerContainer table.social td {
    vertical-align: middle;
  }

  .tableContainer .footerContainer table.social td + td {
    padding-left: 5px;
  }

  .tableContainer .footerContainer table.social a:hover {
    opacity: .85;
  }
</style>

<div class="container">
  <table role="presentation">
    <tbody>
      <tr>
        <td class="tableContainer">
          <div id="logo">
            <table role="presentation">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%">
                    <a href="{{PUBLIC_URL}}" target="_blank">
                      <img
                          alt="Job Fair"
                          height="50"
                          src="cid:jobfair-logo.png@jobfair.fer.unizg.hr"
                      >
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="bodyContainer">
            <table role="presentation">
              <tbody>
                <tr>
                  <td class="contentContainer">
                    <table role="presentation">
                      <tbody>
                        <tr>
                          <td id="content">
                            {{#each content}}
                              <p>{{this}}</p>
                            {{/each}}
                            {{> @partial-block }}
                            <br>
                            <p>
                              - Job Fair Team
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="footerContainer">
            <table class="imageAndText">
              <tr>
                <td>
                  <img
                      alt="Job Fair location"
                      height="20"
                      src="cid:sprites_icon-location.png@jobfair.fer.unizg.hr"
                  >
                </td>
                <td>
                  <span>Unska 3, 10000 Zagreb, Hrvatska</span>
                </td>
              </tr>
            </table>


            <a href="mailto:jobfair@fer.hr">
              <table class="imageAndText">
                <tr>
                  <td>
                    <img
                        alt="Job Fair email"
                        width="20"
                        src="cid:sprites_icon-mail.png@jobfair.fer.unizg.hr"
                    >
                  </td>
                  <td>
                    <span>jobfair@fer.hr</span>
                  </td>
                </tr>
              </table>
            </a>

            <table class="social">
              <tr>
                <td>
                  <a href="https://www.instagram.com/jobfairfer/">
                    <img
                        alt="Job Fair Instagram"
                        width="18"
                        src="cid:sprites_icon-ig.png@jobfair.fer.unizg.hr"
                    >
                  </a>
                  <br>
                </td>
                <td>
                  <a href="https://fb.com/JobFair.FER">
                    <img
                        alt="Job Fair Facebook"
                        width="18"
                        src="cid:sprites_icon-fb.png@jobfair.fer.unizg.hr"
                    >
                  </a>
                  <br>
                </td>
                <td>
                  <a href="https://linkedin.com/company/jobfairfer">
                    <img
                        alt="Job Fair LinkedIn"
                        width="18"
                        src="cid:sprites_icon-in.png@jobfair.fer.unizg.hr"
                    >
                  </a>
                  <br>
                </td>
                <td>
                  <a href="https://youtube.com/c/jobfairfer">
                    <img
                        alt="Job Fair YouTube"
                        height="16"
                        src="cid:sprites_icon-yt.png@jobfair.fer.unizg.hr"
                        class="yt"
                    >
                  </a>
                  <br>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
