{{#> layout-default content=content }}
  <style>
    .password-reset-link-container {
      margin-top: 25px;
      text-align: center;
    }

    .password-reset-link-container > a {
      font-size: 20px;
      color: #fafafa;
      background: #00003f;
      padding: 8px 18px;
      text-decoration: none;
      border-radius: 4px;
    }
  </style>
  <p class="password-reset-link-container">
    <a href="{{PUBLIC_URL}}/forgot-password/t-{{token}}">{{resetPasswordLinkText}}</a>
  </p>
{{/layout-default}}
