/* stylelint-disable-next-line at-rule-no-unknown */
@use "sass:map";
@use "sass:color";

/* stylelint-disable-next-line max-line-length */
$font-stack: "Raleway", "Frutiger", "Frutiger Linotype", "Univers", "Calibri", "Gill Sans", "Gill Sans MT", "Myriad Pro", "Myriad", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", "Tahoma", "Geneva", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-size: 16px;
$fer-yellow: #ecb000;
$fer-dark-blue: #00003f;
$fer-white: #ffffff;
$fer-gray: #ebeae8;
$fer-off-gray: #e7e7e7;
$fer-black: #02000d;
$fer-error: #f44336;
$fer-success: #2e7d32;
$event-colors: (
  "panel": #33658a,
  "talk": #54c6eb,
  "workshop": #57cc99,
  "hot-talk": #fe7f2d,
);
$event-icons: (
  "hot-talk": url("@/assets/images/icon/event-icons/hotTalk.svg?url"),
  "networking": url("@/assets/images/icon/event-icons/networking.svg?url"),
  "panel": url("@/assets/images/icon/event-icons/panel.svg?url"),
  "loosen-up": url("@/assets/images/icon/event-icons/party.svg?url"),
  "talk": url("@/assets/images/icon/event-icons/talks.svg?url"),
  "workshop": url("@/assets/images/icon/event-icons/workshops.svg?url"),
);
$input-colors: (
  "border": #{color.adjust($fer-black, $alpha: -.6)},
  "border-hover": #{color.adjust($fer-dark-blue, $alpha: -.3)},
);
$transition-timing-function: cubic-bezier(.4, 0, .2, 1);
$transition-bounce-function: cubic-bezier(.35, 1.55, .65, 1);
$breakpoints: (
  "xs": 420px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
) !default;
$nav-height: 64px;
$content-padding: 2 * $font-size;
$content-padding-mobile: $font-size;
$content-max-width: 1200px;
$content-max-width-mobile: 100vw;
$company-max-width: 92.5vw;
$company-max-width-mobile: 100vw;
$page-max-width: 1905px;
