@use "sass:color";
@use "sass:map";
@import "../../include/variables";

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: $fer-yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: break-word;
}

label {
  cursor: pointer;
}

$primaryColor: $fer-yellow;
$primaryTextColor: $fer-white;
$accentColor: $fer-dark-blue;
$accentTextColor: $fer-white;
$fontFamily: $font-stack;
$textColor: $fer-dark-blue;
$textSecondaryColor: $fer-white;
$errorColor: $fer-error;

@import "@/node_modules/primevue-sass-theme/themes/material/material-light/standard/deeppurple/theme.scss";

:root {
  --surface-a: $fer-white;
  --surface-b: $fer-off-gray;
  --surface-c: #{rgba($fer-black, 4)};
  --surface-d: #{rgba($fer-black, 12)};
  --surface-e: $fer-white;
  --surface-f: $fer-white;
  --text-color: #{rgba($fer-black, 87)};
  --text-color-secondary: #{rgba($fer-black, 60)};
  --primary-color: #{$fer-yellow};
  --primary-color-text: #{$fer-black};
  --secondary-color: #{$fer-dark-blue};
  --secondary-color-text: #{$fer-white};
  --font-family: #{$font-stack};
  --surface-0: #ffffff;
  --surface-50: #fafafa;
  --surface-100: #f5f5f5;
  --surface-200: #eeeeee;
  --surface-300: #e0e0e0;
  --surface-400: #bdbdbd;
  --surface-500: #9e9e9e;
  --surface-600: #757575;
  --surface-700: #616161;
  --surface-800: #424242;
  --surface-900: #212121;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
  --content-padding: 1rem;
  --inline-spacing: 0.5rem;
  --border-radius: 4px;
  --surface-ground: $fer-off-gray;
  --surface-section: $fer-white;
  --surface-card: $fer-white;
  --surface-overlay: $fer-white;
  --surface-border: #{rgba($fer-black, 12)};
  --surface-hover: #{rgba($fer-black, 4)};
  --focus-ring: none;
  --maskbg: #{rgba($fer-black, 32)};
  --highlight-bg: $fer-dark-blue;
  --highlight-text-color: $fer-yellow;
  color-scheme: light;
}

button[data-pd-ripple="true"] {
  overflow: hidden;
}

.p-button {
  justify-content: center;
}
